{% extends 'imdb/base.html' %}

{% block title %}All Movies{% endblock %}

{% block title2 %}All Movies{% endblock %}

{% block main %} 
<div class="row">
    {% for movie in movies %}
    <div class="col-2 text-center {% if movie.users_to_watch.all %} watchlist-item {% endif %}">
        <img src="{{movie.poster.url}}" class="w-75 h-75 object-fit-cover shadow-lg" alt="">
        <div>
            <a href="{{movie.get_absolute_url}}" class="text-decoration-none">{{movie}}</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}